h1 {
	background-color: pink;
	font-size: 50PX;
	text-align: center;
	color: red;
}
body {
	background-position: right;
}
h2 > img {float:left;
	margin-top:5px;
	margin-left:100px;
	box-shadow: rgba(0,0,0,0.5) 10px 10px;
	width: 250px;
	height: 400px;
}
ul {
	text-align: center;
}
a {float: center;
}

a#camisa{float:right;
	margin-top: 0px;
	margin-right: 700px;
		   color:#FF0000;
	   font-size:30px;
	   text-decoration:none;
	   border: transparent;
	   border-radius: 5px;
	   background-color: pink;
}
a#pantalon{float:right;
			margin-top:50px;
			margin-right: -250px; 
			color:#FF0000;
			font-size:30px;
			text-decoration:none;
			border-radius: 5px;
	   background-color: pink;	
}
a#zapatos{float:right;
			margin-top:100px;
			margin-right: -250px;
			color:#FF0000;
			font-size:30px;
			text-decoration:none;
			border-radius: 5px;
	   background-color: pink;
}	

a#camisa:hover{color:black;}
a#pantalon:hover{color:black;}
a#zapatos:hover{color:black;}
a {float: right;
}
img#publicidad2 {float:right;
			margin-top:10px;
			margin-right: 10px;
}
p { float:center;
	background-color: pink;
	font-size: 20PX;
	text-align: center;
	color: red;
	margin-top: 600px;
}